greno = #4DDF0C

@font-face 
  font-family dd
  src url("fonts/dd.eot")
  src url("fonts/dd.woff2")
@font-face 
  font-family inter  
  src url("fonts/inter.woff2")

body
    background black   
.hero
    width 100vw
    height 100vh    
    position relative
    .wrap
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        width 90vw
        height 90vh              
        display flex
        flex-direction column
        justify-content space-between
        .toptext
            width 100%
            display flex        
            justify-content space-between            
        .bottext
            text-align center
            width 100%
        p
            font-family dd
            color white
            text-transform uppercase
            font-size 21px

.content    
    margin 0 auto
    padding-top 5vw
    .title
        margin-bottom 3vw        
        p
            color greno
            font-family dd
            text-transform uppercase
            text-align center            
            margin-top 10px
    .desc
        width 100%        
        p
            color white
            font-family inter                        
            text-align center

footer 
    margin-top 15vw        
    border-bottom 6px solid greno
    .bs
        position absolute        
        left 50%                 
        transform rotate(10deg) translateX(-50%)
    

// DESKTOP
@media screen and (min-width: 501px)
    .floater
        width 200px
        height 200px 
        position fixed
        top 130px       
    .highlight    
        left 130px  
        background url("highlight.png")    
        z-index 2
        background-size cover
        animation-name spin
        animation-duration 6s
        animation-iteration-count infinite
        animation-timing-function linear    
    .download
        left 150px 
        z-index 3
        color white
        font-family dd
        transform translate(0, 60px) rotate(-5deg)
        text-align center
        width 170px
        font-size 21px
        line-height 26px
        &:hover ~ .highlight
            animation-name spin
            animation-duration 2s
            animation-iteration-count infinite
            animation-timing-function linear
        a
            color white
    .hero
        background url("img/hero.jpg")
        background-position center
        background-size 100%
    .content
        width 70vw 
        .title
            p
                font-size 72px
        .desc
            p
                font-size 32px
                line-height 48px
                margin-bottom 12vw
    footer
        height 20vw
        .bs
            width 50vw

// MOBILE
@media screen and (max-width: 500px)
    .floater 
        position fixed
        top 0
        left 0
        width 100%        
        height 45px        
    .highlight 
        background greno
        z-index 2
    .download
        z-index 3
        font-family dd
        text-align center 
        a
            font-size 18px
            display block
            margin-top 10px
            color white               
    .hero
        margin-top 30px
        background url("img/hero.jpg")
        background-position cover
        background-size 100%
    .content
        width 95vw
        .title
            p
                font-size 42px
        .desc
            p
                font-size 21px
                line-height 29px
                margin-bottom 25vw
    footer
        height 40vw
        .bs
            width 80vw

//animations
@keyframes spin
    from 
        transform rotate(0deg)
    to 
        transform rotate(360deg)